body{
    /*background-color: #555555; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common {
    /*background-color: #CCCC;
    border: solid 2px white; */
    position:absolute;
}

.header {
    top: 5px;
    left: 7px;
    right: 5px;
    height: 100px;
   
    
}


.mainbody {
    top: 114px;
    left: 7px;
    bottom: 64px;
    right: 5px;
    
}


.footer {
    bottom: 5px;
    height: 20px;
    left: 5px;
    right: 7px;
    font-size: 15px;
    color: black;
    text-align: center;
    position: fixed;
}

.subheader{
    float: right;

}

.cap {
    color: black;
    font-size: small;
    font-style: italic;
    font-weight: bold;
}